In [2]:
# 데이터 전처리(Data Preprocessing)
import pandas as pd
import numpy as np

df = pd.DataFrame({'A': [1, 2, None, 4, 5],
                   'B': [6, 7, 8, np.nan, 10],
                   'C': [11, 12, 13, None, np.nan]})
df

     A     B     C
0  1.0   6.0  11.0
1  2.0   7.0  12.0
2  NaN   8.0  13.0
3  4.0   NaN   NaN
4  5.0  10.0   NaN

In [4]:
pd.isna(df)

       A      B      C
0  False  False  False
1  False  False  False
2   True  False  False
3  False   True   True
4  False  False   True

In [5]:
pd.isna(df).sum()

A    1
B    1
C    2
dtype: int64

In [6]:
# 결측치 제거
df_drop_nan = df.dropna()
df_drop_nan

     A    B     C
0  1.0  6.0  11.0
1  2.0  7.0  12.0

In [7]:
# 특정 열의 결측치 제거
df_drop_B_C = df.dropna(subset=['B', 'C'])
df_drop_B_C

     A    B     C
0  1.0  6.0  11.0
1  2.0  7.0  12.0
2  NaN  8.0  13.0

In [8]:
# 결측치 대체: 데이터 양이 많지 않을 경우
df_0 = df['C'].fillna(0)
df_0

0    11.0
1    12.0
2    13.0
3     0.0
4     0.0
Name: C, dtype: float64

In [9]:
df_missing = df['C'].fillna('missing')
df_missing

0       11.0
1       12.0
2       13.0
3    missing
4    missing
Name: C, dtype: object

In [10]:
df_mean = df.fillna(df.mean())
df_mean

     A      B     C
0  1.0   6.00  11.0
1  2.0   7.00  12.0
2  3.0   8.00  13.0
3  4.0   7.75  12.0
4  5.0  10.00  12.0

In [12]:
df_ffill = df.ffill()
df_ffill

     A     B     C
0  1.0   6.0  11.0
1  2.0   7.0  12.0
2  2.0   8.0  13.0
3  4.0   8.0  13.0
4  5.0  10.0  13.0

In [13]:
df_bfill = df.bfill()
df_bfill

     A     B     C
0  1.0   6.0  11.0
1  2.0   7.0  12.0
2  4.0   8.0  13.0
3  4.0  10.0   NaN
4  5.0  10.0   NaN

In [14]:
fill_dict = {'A': df['A'].mean(), 'B': '12/25', 'C': 'missing'}
df_filled = df.fillna(value=fill_dict)
df_filled

     A      B        C
0  1.0    6.0     11.0
1  2.0    7.0     12.0
2  3.0    8.0     13.0
3  4.0  12/25  missing
4  5.0   10.0  missing