In [2]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.shape

(891, 12)

In [3]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
q1 = df['Fare'].quantile(.25)
q3 = df['Fare'].quantile(.75)
iqr = q3 - q1
min = q1 - 1.5 * iqr
max = q3 + 1.5 * iqr

out1 = df[df['Fare'] < min]
out2 = df[df['Fare'] > max]
len(out1), len(out2)

(0, 116)

In [10]:
male_sum = sum(out2['Sex'] == 'male')
female_sum = sum(out2['Sex'] == 'female')
print(male_sum, female_sum)

46 70